flows (8).json
[{"id":"7bea7b17.5b4204","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3143dcc1.fac6a4","type":"ui_text","z":"7bea7b17.5b4204","group":"b4a27b90.ad9688","order":1,"width":0,"height":0,"name":"","label":"Death_1yr","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":200,"wires":[]},{"id":"541be47a.82defc","type":"http request","z":"7bea7b17.5b4204","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":300,"wires":[["5d43957b.8a117c"]]},{"id":"888da335.295e4","type":"http request","z":"7bea7b17.5b4204","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/cf0444bf-c9a6-4ec8-b758-23a073368e22/predictions","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":280,"wires":[["f8f87876.dcf408","ddcf350e.7103c8"]]},{"id":"ace8162.7c87ae8","type":"function","z":"7bea7b17.5b4204","name":"Pre Token","func":"global.set(\"di\",msg.payload.di)\nglobal.set(\"fcv\",msg.payload.fcv)\nglobal.set(\"fev1\",msg.payload.fev1)\nglobal.set(\"per\",msg.payload.per)\nglobal.set(\"pa\",msg.payload.pa)\nglobal.set(\"he\",msg.payload.he)\nglobal.set(\"dy\",msg.payload.dy)\nglobal.set(\"cou\",msg.payload.cou)\nglobal.set(\"wn\",msg.payload.wn)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"mi6\",msg.payload.mi6)\nglobal.set(\"pad\",msg.payload.pad)\nglobal.set(\"smk\",msg.payload.sml)\nglobal.set(\"ast\",msg.payload.ast)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"AD3h9mdDKUFLz8UjZdHsIAegwtr4gxVe3STuGtLtBnIp\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":360,"wires":[["541be47a.82defc"]]},{"id":"f8f87876.dcf408","type":"function","z":"7bea7b17.5b4204","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1]\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":180,"wires":[["3143dcc1.fac6a4","2a3550f9.def21"]]},{"id":"5d43957b.8a117c","type":"function","z":"7bea7b17.5b4204","name":"Pre Prediction","func":"var di = global.get('di')\nvar fcv = global.get('fcv')\nvar fev1 = global.get('fev1')\nvar per = global.get('per')\nvar pa = global.get('pa')\nvar he = global.get('he')\nvar dy = global.get('dy')\nvar cou = global.get('cou')\nvar wn = global.get('wn')\nvar ts = global.get('ts')\nvar dm = global.get('dm')\nvar mi6 = global.get('mi6')\nvar pad = global.get('pad')\nvar smk = global.get('smk')\nvar ast = global.get('ast')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"8af1acb5-dd03-470a-b31f-774edc2c27f5\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Diagnosis\", \"FVC\", \"FEV1\", \"Performance\", \"Pain\", \"Haemoptysis\", \"Dyspnoea\", \"Cough\", \"Weakness\", \"Tumor_Size\", \"Diabetes_Mellitus\", \"MI_6mo\", \"PAD\", \"Smoking\", \"Asthma\", \"Age\"], \"values\": [[di,fcv,fev1,per,pa,he,dy,cou,wn,ts,dm,mi6,pad,smk,ast,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":340,"wires":[["888da335.295e4"]]},{"id":"2a17c894.554848","type":"inject","z":"7bea7b17.5b4204","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["ace8162.7c87ae8"]]},{"id":"93c2f976.00c5f8","type":"ui_form","z":"7bea7b17.5b4204","name":"","label":"","group":"b4a27b90.ad9688","order":0,"width":0,"height":0,"options":[{"label":"Diagnosis","value":"di","type":"number","required":true,"rows":null},{"label":"FVC","value":"fcv","type":"number","required":true,"rows":null},{"label":"FEV1","value":"fev1","type":"number","required":true,"rows":null},{"label":"Performance","value":"per","type":"number","required":true,"rows":null},{"label":"Pain","value":"pa","type":"number","required":true,"rows":null},{"label":"Haemoptysis","value":"he","type":"number","required":true,"rows":null},{"label":"Dyspnoea","value":"dy","type":"number","required":true,"rows":null},{"label":"Cough","value":"cou","type":"number","required":true,"rows":null},{"label":"Weakness","value":"wn","type":"number","required":true,"rows":null},{"label":"Tumor_Size","value":"ts","type":"number","required":true,"rows":null},{"label":"Diabetes_Mellitus","value":"dm","type":"number","required":true,"rows":null},{"label":"MI_6mo","value":"mi6","type":"number","required":true,"rows":null},{"label":"PAD","value":"pad","type":"number","required":true,"rows":null},{"label":"Smoking","value":"smk","type":"number","required":true,"rows":null},{"label":"Asthma","value":"ast","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"di":"","fcv":"","fev1":"","per":"","pa":"","he":"","dy":"","cou":"","wn":"","ts":"","dm":"","mi6":"","pad":"","smk":"","ast":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":420,"wires":[["ace8162.7c87ae8"]]},{"id":"2a3550f9.def21","type":"debug","z":"7bea7b17.5b4204","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":280,"wires":[]},{"id":"ddcf350e.7103c8","type":"debug","z":"7bea7b17.5b4204","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":360,"wires":[]},{"id":"b4a27b90.ad9688","type":"ui_group","z":"","name":"Default","tab":"81a5b27d.4eb35","order":1,"disp":true,"width":"6","collapse":false},{"id":"81a5b27d.4eb35","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]